*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
#InputForm{
    width: 60%;
    min-width: 220px;
    margin: 50px auto;
    padding: 50px;
    background:linear-gradient(50deg,lightgreen,black);
    border-radius: 8px;

}
form{
    position: relative;
    color: white;
    font-weight: bolder;
    padding: 30px 30px;
    border-radius: 8px;
    text-align: center;
}
input[type="submit"]{
    height: 23px;
    width: 30%;
    min-width: 80px;
    border: none;
    border-radius: 4px;
    background:white;
    margin-top: 8px;

}
input[type="submit"]:focus{
    outline: none;
}

input[type="submit"]:active{
    box-shadow: inset 2px 2px 3px black;
}
input[type="text"]:focus,input[type="date"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="file"]:focus{
    box-shadow: 0 0  12px 4px linen;
}
input[type="text"],input[type="date"],input[type="number"],input[type="email"],input[type="file"]{
    width: 50%;
    min-width: 140px;
    height: 23px;
    border-radius: 4px;
    border: none;
}
#success{
    text-align: center;
    padding:20px 20px;
    width: 360px;
    background: blanchedalmond;
    border-radius: 5px;
    box-shadow: 0 0 8px 2px black;
    margin: auto;
}
#error{
    text-align: center;
    padding:30px 30px;
    width: 400px;
    background:rgba(255,0,0,0.6);
    border-radius: 7px;
    box-shadow: 0 0 8px 2px black;
    margin: auto;
}
#success>h3,#error>h3{
    font-size: 18px;
    color: blueviolet;
}